
.vs/Rezervasyon/v15/.suo
*.lock
.vs/config/applicationhost.config
.vs/Rezervasyon/v15/Server/sqlite3/storage.ide
.vs/Rezervasyon/v15/Server/sqlite3/storage.ide-shm
.vs/Rezervasyon/v15/Server/sqlite3/storage.ide-wal
